{% extends 'index.html' %}

{% block content %}
{% load static %}
    <!-- Header-->
    <header class="bg-dark py-5 red-color">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"> Каталог </h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    <!-- Section-->
<section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for item in product%}
                <div class="col mb-5 mob-card">
                    <div class="card h-100">
                        <img class="card-img-top" src="/media/{{ item.image }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h4 class="fw-bolder">{{ item.name }}</h4>
                                <h5 class="fw-bolder">{{ item.short_desc }}</h5>
                                <!-- Product price-->
                                {{ item.price }} рублей
                            </div>
                        </div>
            </div>
            </div>
                {% endfor %}
        </div>
        </div>
    </section>


{% endblock content %}
<!-- Footer-->

