{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/png" href="{% static 'image/VS.svg' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style_new.css' %}">
    <title>VinylStore</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid container">
            <a class="navbar-brand" href="/">
                <img class='logo' src="{% static 'image/VS.svg' %}" alt="" width="42" height="68"
                    class="d-inline-block align-text-top">
                VinylStore
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'collection'%}">Коллекция</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacts'%}">Контакты</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'auth:edit' %}">
                           Пользователь: {{ user.first_name|default:'' }}
                        </a>
                    </li>
                    {% endif %}


                        {% if user.is_authenticated %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'auth:logout' %}">Выйти</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'auth:login' %}">Войти</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'auth:register' %}">Регистрация</a>
                        </li>
                        {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <div class="top">
        <div class="header-page container">
            <div class="title-head">
                <h1 class="main">VinylStore - магазин любимой музыки</h1>
                <p class="text">Самая большая коллекция винила в <br>Ростове-на-Дону. Заходи у нас есть, что выбрать
                    и
                    послушать!</p>
                <a href="#144" class="main_anchor">Смотреть!</a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <h2 class="sub-header" id="144">Категории товаров</h2>
            <div class="category">
                <div class="card">
                    <img class='object' src="{% static 'image/vinyl.svg' %}" alt="vinyl">
                    <div class="describe">
                        <h3 class='category-name'>Виниловые пластинки</h3>
                        <p class="describe-text">Широкий выбор винила с любимой музыкой! Быстрая доставка, гарантия!.
                            Диски и пластинки в наличии и под заказ!</p>
                        <a class='more' href="#">Перейти в раздел</a>
                    </div>

                </div>
                <div class="card">
                    <img class='object' src="{% static 'image/cd.svg' %}" alt="cd">
                    <div class="describe">
                        <h3 class='category-name'>CD-диски</h3>
                        <p class="describe-text">Фирменные CD диски любимых групп и исполнителей покупайте с доставкой на дом. Большой выбор фирменных музыкальных дисков</p>
                        <a class='more' href="#"> Перейти в раздел </a>
                    </div>
                </div>
                <div class="card">
                    <img class='object' src="{% static 'image/player.svg' %}" alt="player">
                    <div class="describe">
                        <h3 class='category-name'>Проигрыватели</h3>
                        <p class="describe-text">Виниловые проигрыватели от мировых брендов. Официальные поставки. Гарантия качества! Выгодные цены на товары каталога.</p>
                        <a class='more' href="#">Перейти в раздел</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="interactive container">
            <h2 class="sub-header">Интерактив</h2>
            <p class="other_text">Где лучшие тусовки? - В VinylStore !</p>
            <div class="picture">
                <img class="picture_img" src="{% static 'image/pic1.png' %}" alt="picture">
                <p class="picture_text_first"> Радио</p>
            </div>
            <div class="picture_parent">
                <div class="picture pic_margin">
                    <img class="picture_img" src="{% static 'image/pic2.png' %}" alt="picture">
                    <p class="picture_text_second">Тематические вечера</p>
                </div>
                <div class="picture">
                    <img class="picture_img" src="{% static 'image/pic3.png' %}" alt="picture">
                    <p class="picture_text_second">Танцы по пятницам</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    <div class="footer">
        <div class="container footer_box">
            <div class="footer_top">
                <div class="question">
                    <h3 class="question_sign"> Хотите кривой сайт? <br>Звоните! Пишите!</h3>
                    <ol class="bot_order">
                        <li class="data"><a class='data'
                                href="mailto:v.kolokolchikoff@yandex.ru">v.kolokolchikoff@yandex.ru</a>
                        </li>
                        <li class="data"><a class='data' href="tel:+732462831232">+7(324)628-312-32</a></li>
                    </ol>
                </div>
                <div class="call">
                    <a href="{% url 'contacts' %}" class="main_anchor">Let`s Talk</a>
                </div>
            </div>

            <div class="copy">
                <p>Все права защищены &copy;</p>
            </div>
        </div>
    </div>
</body>

</html>